<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Portal</title>
  </head>
  <body>
    <header>
      <h1>Job Portal</h1>
      <nav>
        <a href="/">Home</a> | <a href="/jobs">Jobs</a> |
        <a href="/users/register">Register</a> |
        <a href="/users/login">Login</a>
      </nav>
    </header>
  </body>
</html>
